body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #141414;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  padding: 20px 40px;
}

.row {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.row::-webkit-scrollbar {
  display: none;
}

.movie-card img {
  width: 180px;
  border-radius: 6px;
  transition: transform 0.3s;
}

.movie-card img:hover {
  transform: scale(1.1);
}